h1{
    color:rgb(147, 49, 49);

}
p{
    font-style:italic;
    font-size:50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#first:hover{
    background-color:aqua;
    
    
}
h3{
    font-weight:1000px;
    line-height:100px;
    letter-spacing:10px;
    text-transform:uppercase;

    /* text-aligh can be left, right , center */
    text-align:center; 

    /* textdecoration can be overline , underline,linethrough,dotted linethrough,dashed line-through
    , dotted line through,wavy overline/underline/linethrough,none */
    text-decoration:wavy overline;

    background-color:rgb(181, 181, 13);



}
.main{
    color:red;
    background-color:greenyellow;

}
p,article{
    color:blue
}
*{
    background-color: pink;
}

main>article>p{
    background-color: black;
}

button:hover{
    background-color: black;
    color:white;
}
button:active{
    background-color: red;
    color:aliceblue
}