section{
    margin-top: 100px;
}
div{
    width:200px;
    height:50px;
    text-align:center;
    background-color: aqua;
    border:2px solid black;
    margin:10px;

}
div:nth-of-type(2n){
    background-color: red;

}
div:nth-of-type(3n){
    background-color: green;
}

/* transform */
#one{
    transition:1s;
    transform:rotate(30deg)
}
#two{
    transform:scale(1,1);
}
#three{
    /* transform:translate(100px,100px); */
    /* transform:translateX(100px) */
    transform:translateY(500px)
}

